__pycache__

__pycache__/Cell.cpython-312.pyc
__pycache__/Board.cpython-312.pyc
__pycache__/Board.cpython-313.pyc
__pycache__/Cell.cpython-313.pyc
Clase_DP_1_.ipynb
aux_11.ipynb
Clase_Aux_Optimizaci_n.ipynb
